<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear empaque</title>
</head>
<body class = "container mt-5" style="max-width: 500px; background-image: url('https://img.freepik.com/free-vector/tropical-background-with-different-leaves_52683-36517.jpg?size=626&ext=jpg');">
            
    <div class="card mt-3" style="background-color: azure">
        
        <h1 class="text-center mt-3">Crear Empaque</h1>

        <form action="/guardarEmpaque" method="POST" class="p-5"> 

            <div class="form-group">

                <label for="exampleInputEmail1"><b>Tipo:</b></label><br>
                {% for radio in tipos %}
                <div class="form-check form-check-inline">
                    <label class="form-check-label m-2" >{{radio}} </label>
                    <input class="form-check-input" type="radio" name="tipo"  value="{{radio}}" required>
                </div>
                {% endfor %}

            </div>

            <div class="form-group">
                <label ><b>Tamaño:</b> </label> <br>
                <select name="tamano" class="form-control" required>
                    <option selected>Elige...</option>
                    {% for value in variables %}
                    <option value = "{{value}}">{{value}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label><b>Cantidad:</b> </label>
                        <input type="number" name="cantidad" min="0" autocomplete="off" class="form-control" required>
                    </div>
                </div>

                
            </div>

            <div class="float-right">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
            
        </form>
    </div>


</body>
</html>