<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de empaques</title>
</head>
<body class = "container mt-5 text-center" style="max-width: 700px; background-image: url('https://img.freepik.com/free-vector/tropical-background-with-different-leaves_52683-36517.jpg?size=626&ext=jpg');">

    
    <div class="card mt-3 mb-5" style="background-color: azure">
        
        <h1 class="text-center mt-3">Lista de empaques</h1>
        
        <table class="table table-hover mt-3">
            <thead>
              <tr>
                <th scope="col">Tipo</th>
                <th scope="col">Tamaño</th>
                <th scope="col">Cantidad</th>
              </tr>
            </thead>
            <tbody>
                {% for empaque in empaques %}
                <tr>
                    <td>{{empaque.tipo}}</td>
                    <td>{{empaque.tamano}}</td>
                    <td>{{empaque.cantidad}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>